<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container d-flex justify-content-center">
    <!-- Propiedades -->
    <a class="navbar-brand" routerLink="/home">
      <img
        src="https://res.cloudinary.com/dkfzj9tmk/image/upload/v1677166689/backend-project/Rick-And-Morty-Logo-Transparent-File_arpmel.png"
        width="150"
        height="50"
        alt="..."
      />
    </a>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/temporadas">Temporadas</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/musica">Musica</a>
        </li>

        <!-- Botón Primary -->
        <ul class="navbar-nav ms-auto">
          <li class="nav-item d-flex align-items-center">
            <!-- Botón -->
            <button
              type="button"
              class="btn btn-fluorescent"
              routerLink="/user"
            >
              Iniciar Sesión/Registrarte
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                fill="currentColor"
                class="bi bi-person-fill me-2"
                viewBox="0 0 16 16"
              >
                <path
                  d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"
                />
              </svg>
            </button>
          </li>
        </ul>
      </ul>
    </div>
  </div>
</nav>
