<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h2 class="text-center">Inicio de Sesión</h2>
  
            <p class="text-center text-danger fw-bold">{{ mensaje }}</p>
  
            <div *ngIf="!usuarioAutenticado">
              <div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" id="email" [(ngModel)]="email" required>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" [(ngModel)]="password" required>
              </div>
  
              <button class="btn btn-primary w-100" (click)="login()"> Iniciar Sesión</button>
              <button class="btn btn-success w-100 mt-2" (click)="registrar()"> Registrarse</button>
            </div>
  
            <div *ngIf="usuarioAutenticado" class="text-center">
              <p class="fw-bold"> Sesión iniciada como: {{ email }}</p>
              <button class="btn btn-danger" (click)="logout()"> Cerrar Sesión</button>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  